<div class="container mt-5 length_restriction">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn mb-2 bg_orangered text-light" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
